@import "variables";
@import "utilities";

body {
  font-family: 'Droid Sans', 'Segoe UI', 'Roboto',sans-serif;
  cursor: url('../images/pointer.png'), auto;
  position: relative;
  min-width: 1000px;
  height: 5470px;
  margin: 0 0 0 0;
  background: linear-gradient(
      180deg,
      rgba(241, 204, 249, 0.08) 77.08%,
      #d0ccf9 100%
    ),
    linear-gradient(
      180deg,
      rgba(104, 169, 239, 0) 27.08%,
      rgba(104, 160, 239, 0.44) 76.56%
    ),
    #d0ccf9;
}

code {
  font-family: source-code-pro, 'Droid Sans', Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

button, a {
  cursor: url('../images/hand.png'), auto;
}

/********* MIXINS *********/

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin buttonStyle() {
  font-size: size(small);
  background: $peach;
  padding: 1.5em 4.3em;
  border: 1px solid black;
  border-radius: .9em;
  box-shadow: 4px 4px 0px black;
}

/********* FUNCTIONS *********/

@function size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

/********* CUSTOM CLASSES *********/

.navbar {
  background: $peach;
  padding: 0 4em;
  height: 6.5em;
  border: 1px solid black;
}

.title {
  font-size: size(xlarge);
  font-weight: weight(light);
  letter-spacing: 0.3em;
}

.nav-link {
  margin: 0.8em;
  font-size: 1.4em;
}

.blobs {
  position: absolute;
  min-width: 119em;
  width: stretch;
  height: 295em;
  top: 22em;
}

.button {
  @include flexCenter(row);
  @include buttonStyle();
  position: absolute;
  width: 15em;
  height: 2.8em;
  left: 350px;
  top: 500px;
  transition: all .6s ease-in-out;
  &:hover {
    box-shadow: 8px 8px 0px #000000;
    left: 346px;
    top: 496px;
  }
}

.footer {
  height: 6.5em;
  background: $peach;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-link {
  height: 55%;
  width: 55%;
  transform: scale(1);
  transition: transform .4s ease-in-out;
  &:hover {
    transform: scale(1.07);
  }
}