@import "utilities";

body {
  font-family: 'Droid Sans', 'Segoe UI', 'Roboto',sans-serif;
  cursor: url('../images/pointer.png'), auto;
  position: relative;
  min-width: 1000px;
  height: 5470px;
  margin: 0 0 0 0;
  background: linear-gradient(
      180deg,
      rgba(241, 204, 249, 0.08) 77.08%,
      #d0ccf9 100%
    ),
    linear-gradient(
      180deg,
      rgba(104, 169, 239, 0) 27.08%,
      rgba(104, 160, 239, 0.44) 76.56%
    ),
    #d0ccf9;
}

code {
  font-family: source-code-pro, 'Droid Sans', Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

button, a {
  cursor: url('../images/hand.png'), auto;
}

/********* CUSTOM CLASSES *********/

.navbar {
  padding: 0px 4em;
  height: 6.5em;
  background: #ffcfab;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  letter-spacing: 0.19em;
}

.nav-link {
  margin: 0 .8em;
  font-size: 1.4em;
}

.blobs {
  position: absolute;
  min-width: 1901px;
  width: stretch;
  height: 4714.25px;
  top: 348px;
  bottom: 407.75;
}

.button {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 68px;
  position: absolute;
  width: 240px;
  height: 45px;
  left: 350px;
  top: 500px;
  background: #ffcfab;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 4px 4px 0px #000000;
  transition: all .6s ease-in-out;
}

.button:hover {
  box-shadow: 8px 8px 0px #000000;
  left: 346px;
  top: 496px;
}

.footer {
  height: 96px;
  background: #ffcfab;
  border: 1px solid #000000;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links {
  height: 100%;
}

.footer-link {
  height: 50%;
  width: 50%;
  transform: scale(1);
  transition: transform .4s ease-in-out;
}

.footer-link:hover {
  transform: scale(1.07);
}