body {
  font-family: -apple-system, BlinkMacSystemFont, 'Droid Sans', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue',
    sans-serif;
  width: 1440px;
  height: 4367px;
  opacity: 0.8;
  background-image: linear-gradient(
    to top,
    #d0cef9 0%,
    #dfdef8 50%,
    #d0cef9 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
